body{
    margin: 0;
}
.navbar{
    background: rgba(0, 0, 0, 0.56);
    
    box-sizing: border-box;
    width: 1349px;
    height: 87px;
    border: 1px solid #000;
    display: flex; 
    
}
.img-style{
    /*logo*/
    position: absolute;
    width: 194px;
    height: 67px;
    margin-left: 29px;
    margin-top: 10px;
    border-radius: 10px;
}
div{
    display: inline-block;    
    font-size: 25px;
}
.link{
   /* HİKAYELER*/
    position: absolute;
    width: 153px;
    height: 22px;
    margin-left: 265px;
    margin-top: 5px;
    color: #ffff;
    font-size: 25px;
    text-decoration: none;
    font-family:'Work Sans';
}
.link2{
    /*HABERLER*/
    position: absolute;
    width: 150px;
    height: 22px;
    margin-left: 437px;
    margin-top: 5px;
    display: block;
    color: #ffff;
    text-decoration: none;
    font-family:'Work sans';
}
.link4{
    /*İLETİŞİM*/
    position: absolute;
    width: 126px;
    height: 22px;
    margin-left: 605px;
    margin-top: 5px;
    color: #ffff;
    text-decoration: none;
    font-family:'Work sans';
    font-size: 25px;
}
.sing-up{
    /*Kayıt ol*/
    position: absolute;
    width: 119px;
    height: 16px;
    margin-left: 920px;
    margin-top: 5px;
    font-size: 25px;
    color: white;
    font-family: 'Work Sans';
  }
.login{
    /*GİRİŞ*/
    width: 200px;
    height: 45px;
    margin-left: 1049px;
    float: right;
    

    background-color:#A6D0DD;
    border-radius: 8px;
    text-align: center;
    font-size: 25px;
    font-family: 'Work Sans';
}
.box{
    display: block;
    width: 1200px;
    height: 554px;
    background: #504141;
    margin-left: 98px;
    margin-top: 400px;
    margin-bottom: 138px;
    background-repeat: no-repeat;
}
.card {
    display: block;
    width: 288px;
    height: 300px;
    background: #918181;
    float: left;
    margin-left: 545px;
    margin-right: 65px;
    margin-top: 19px;
    margin-bottom: 38px;
    background-repeat: no-repeat;
}

/*selen-kocabaş*/
.img5{
    padding: 30px;
    padding-top: 35px;
}
#deneme5{
    width: 230px;
    height: 230px;
}
#selen{
    width: 220px;
    margin-top: 28px;
    margin-left: 20px;
}

div>div>p{
    margin-top: 55px;
    margin-left: 55px;
    color: #661313;
    
    font-weight: 700;
    font-family: sans-serif;
    font-size: 25px;
    text-decoration: underline;
}
#paragraphy{
    font-size: 20px;
    font-weight: 100;
    color: aliceblue;
    text-align: left;
    font-style:normal;
    margin-left: 30px;
}
/*FOOTER Start*/
.footer{
    width: 1366px;
    height: 129px;
    background-color: rgba(0, 0, 0, 0.94);
}
.name{
    /*Copyright ! Irmak Akatay*/
    
    position: absolute;
    width: 320px;
    height: 26px;
    margin-left: 523px;
    margin-top: 40px;
    text-align: center;
    font-family: 'Work Sans';
    font-size: 25px;
    color: #ffff;
}
.link5{
    /*ANA SAYFA*/
    position: absolute;
    width: 152px;
    height: 30px;
    margin-left: 70px;
    margin-top: 39px;

    color: #bebebe;
    font-size: 25px;
    font-family: 'Spectral SC';
}